@font-face {
    font-family: Maragsâ;
    src: url("../fonts/Maragsâ-Display.otf") format("truetype");
}
@font-face {
    font-family: Railway;
    src: url("../fonts/Railway.otf") format("truetype");
}

body {
	box-sizing: content-box;
	overflow-x: hidden;
	font-family: Railway;
    src: url("../fonts/Railway.otf") format("truetype");
}

#about{
	color: #a0794a;
}

.nav-link{
    font-family: Railway;
    src: url("../fonts/Railway.otf") format("truetype");	

}

.header-home {
 	background: #1B2030 url(../img/header.png) top center no-repeat;
    background-size: cover;
    background-attachment: fixed;
	color: white;
	padding: 2%;
	box-sizing: content-box;
	text-align: center;
height: 500px;
	margin-bottom: 2%;
}

h1{
    font-family: Maragsâ;
	src: url("../fonts/Maragsâ-Display.otf") format("truetype");
	font-size: 100px;	
    vertical-align: middle;
}

h2{
	font-family: Maragsâ;
src: url("../fonts/Maragsâ-Display.otf") format("truetype");
color: #3a6e6a;
}
h3{
    font-family: Maragsâ;
	src: url("../fonts/Maragsâ-Display.otf") format("truetype");	
}
.card {
	margin-bottom: 1%;
}

.card .col-sm li {
 list-style: none;
}

.card-carousel {
	margin-left: auto;
	margin-right: auto;
	
}

#active-link{
	color: #ff22a9;
}

#footer-title{
	font-family: Maragsâ;
	src: url("../fonts/Maragsâ-Display.otf") format("truetype");	
	font-size: 35px;
	color: #dfb522;
}

